.components-result {
  padding: 0 1.5em;
  color:   #F0F0F0;

  h1 {
    font-size: 11px;
    font-weight: 700;
    line-height: 125%;
    color: #9B9B9B;
    padding: 0;
    margin-top: 2em;
  }

  p {
    font-size: 16px;
    font-weight: 400i;
    color: #4A4A4A;
    line-height: 110%;
  }

  .divider {
    height: 1px;
    background-color: #F0F0F0;
  }

  .fields {
    display: flex;
    text-align: left;

    ul {
      padding: 0;
      list-style-type: none;
      margin-right: 1em;
      li {
        color: #9B9B9B;      
        font-size: 16px;
        font-weight: 300;
        line-height: 120%;
      }
    }
  }
}
